<div ng-controller="HttpController">
    <div class="callout callout-warning lead">
        <h4>说明</h4>
        <p>这里目前只提供GET/POST方式的数据请求!</p>
    </div>
    <button ng-show="httpsLoading" class="btn btn-success"><i class="fa fa-spinner fa-spin"></i></button>
    <div class="callout callout-info lead" ng-show="!hasHttps">
        <h4>没有发现http服务列表!</h4>
    </div>
    <div ng-repeat="(ctrl,methods) in https">
        <div class="box box-solid no-margin box-success">
            <div class="box-header">
                <div class="box-title">{{ctrl}}</div>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div ng-repeat="method in methods">
                    <div class="box box-default box-solid" ng-repeat="(name,params) in method">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{params.urls}}
                                <small>{{name}}</small>
                            </h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group form-group-inline">
                                        <label style="display: inline;width: auto;">请求参数:</label>
                                        <select style="width: 100px" class="form-control"
                                                ng-init="httpMethod[jsonParamsKey(name,params)]='POST'"
                                                ng-model="httpMethod[jsonParamsKey(name,params)]">
                                            <option value="POST"
                                                    ng-selected="'POST'==httpMethod[jsonParamsKey(name,params)]">
                                                POST
                                            </option>
                                            <option value="GET"
                                                    ng-selected="'GET'==httpMethod[jsonParamsKey(name,params)]">
                                                GET
                                            </option>
                                        </select>
                                        <button ng-click="send(name,params,useRequestBody)"
                                                class="btn btn-primary btn-form">Test<i
                                                class="fa fa-spinner fa-spin"
                                                ng-show="loading[jsonParamsKey(name,params)]"></i></button>
                                        <label style="display: inline;width: auto;"><input type="checkbox"
                                                                                           ng-model="useRequestBody"/>@RequestBody</label>
                                    </div>

                                    <div ui-ace="{useWrapMode : true,mode:'json',advanced: {
                                          highlightActiveLine: true
                                        },
                                        rendererOptions: {
                                          showPrintMargin: false,
                                          maxLines: 4294967296
                                        }}" ng-model="jsonParams[jsonParamsKey(name,params)]"
                                         ng-init="jsonParams[jsonParamsKey(name,params)]=aceJson(params.params)"></div>

                                </div>
                                <div class="col-md-6">
                                    <div class="">响应结果:&nbsp;&nbsp;
                                        <button class="btn btn-warning" ng-click="clearResult(name,params)">清空</button>
                                    </div>
                                    <div ui-ace="{useWrapMode : true,mode:'json',advanced: {
                                          highlightActiveLine: true
                                        },
                                        rendererOptions: {
                                          showPrintMargin: false,
                                          maxLines: 4294967296
                                        }}" ng-model="jsonResults[jsonParamsKey(name,params)]"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
