<div ng-controller="RpcController">
    <button ng-show="rpcsLoading" class="btn btn-success"><i class="fa fa-spinner fa-spin"></i></button>
    <div class="callout callout-info lead" ng-show="!hasRpcs">
        <h4>没有发现rpc服务列表!</h4>
    </div>
    <div ng-repeat="rpc in rpcs">
        <div class="box box-solid no-margin box-success" ng-repeat="(path,klass) in rpc">
            <div class="box-header">
                <div class="box-title">{{path}}</div>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="box box-default box-solid" ng-repeat="(method,params) in klass">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{method}}</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div>请求参数: &nbsp;&nbsp;
                                    <button ng-click="send(path,method)" class="btn btn-primary">Test<i
                                            class="fa fa-spinner fa-spin"
                                            ng-show="loading[jsonParamsKey(path,method)]"></i></button>
                                </div>
                                <div ui-ace="{useWrapMode : true,mode:'json',advanced: {
                                          highlightActiveLine: true
                                        },
                                        rendererOptions: {
                                          showPrintMargin: false,
                                          maxLines: 4294967296
                                        }}" ng-model="jsonParams[jsonParamsKey(path,method)]"
                                     ng-init="jsonParams[jsonParamsKey(path,method)]=aceJson(params)"></div>

                            </div>
                            <div class="col-md-6">
                                <div class="">响应结果:&nbsp;&nbsp;
                                    <button class="btn btn-warning" ng-click="clearResult(path,method)">清空</button>
                                </div>
                                <div ui-ace="{useWrapMode : true,mode:'json',advanced: {
                                          highlightActiveLine: true
                                        },
                                        rendererOptions: {
                                          showPrintMargin: false,
                                          maxLines: 4294967296
                                        }}" ng-model="jsonResults[jsonParamsKey(path,method)]"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
